# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
composer.phar

# Sass
.sass-cache
*.css.map
tatus

# Dependencies
/node_modules/
/deploy/
/vendor/
/dist/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db
