.wrapper {
    overflow: hidden;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    &--full-width {
        max-width: 100vw;
    }
}


.row {
    @include clearfix;

    &--gutters {
        margin-right: -66px;

        & > [class^="col-"] {
            padding-right: 66px;
        }
    }

    [class^="col-"] {
        float: left;
    }

    @include respond(atMedium) {

        .col-md-1 {
            width: 8.33%;
        }

        .col-md-2 {
            width: 16.66%;
        }

        .col-md-3 {
            width: 25%;
        }

        .col-md-4 {
            width: 33.33%;
        }

        .col-md-5 {
            width: 41.65%;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-7 {
            width: 58.3%;
        }

        .col-md-8 {
            width: 66.63%;
        }
    }
}
